# ===== Gradle =====
.gradle/
**/build/

# ===== Local Android SDK config =====
local.properties
signing.properties

# ===== IDE =====
.idea/
*.iml
*.takdev/

# ===== OS =====
.DS_Store

# ===== Logs =====
*.log
